.main-section {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  padding: 0 1.5rem;
}

/* PRODUCTS SECTION */

.product-details-section {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--lynx-purple-color);
}

.product-details-section > * {
  flex: 1;
}

.product-details {
  padding: 2rem;
}

.product-section {
  font-size: var(--font-size-6);
  color: var(--lynx-gray-color);
  margin: 1rem 0;
}

.product-title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-4);
  line-height: 1.2em;
}

.product-price {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4);
  margin: 1rem 0;
}

.size-select {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  border: 0.1rem solid var(--primary-color);
  cursor: pointer;
}

.quantity-select {
  font-size: var(--font-size-6);
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.3em;
  margin-right: 0.2em;
  border: 0.1rem solid var(--primary-color);
}

.size-select:focus,
.quantity-select:focus {
  outline: none;
}

.product-description-title {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4);
  margin-top: 1em;
}

.product-description-title i {
  color: var(--primary-color);
}

.product-description {
  font-size: var(--font-size-6);
  color: var(--lynx-gray-color);
}

/* RELATED PRODUCTS */
.related-products {
  margin: 3rem 0;
}

.related-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 5rem;
  color: var(--lynx-gray-color);
  font-weight: var(--font-weight-4);
  line-height: 5.5rem;
}

.section-title {
  position: relative;
  font-size: var(--font-size-4);
}

.section-link {
  font-size: var(--font-size-5);
  color: var(--primary-color);
}

.section-link:hover {
  text-decoration: underline;
}

/* CARD */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  max-width: 250px;
  margin-bottom: 2rem;
  position: relative;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card-badge {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--font-size-7);
  text-align: left;
  padding: 0.3rem 1rem;
  top: 1.5rem;
  z-index: 2;
  clip-path: polygon(100% 0, 91% 48%, 100% 100%, 0% 100%, 0 44%, 0% 0%);
}

.card-icon {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.card-icon > svg {
  height: 2rem;
  fill: var(--black-color);
  transition: fill 200ms ease-in-out;
}

.card-icon:hover svg {
  fill: var(--danger-color);
}

.card-body {
  padding: 0 1rem;
}

.card-head {
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.card-title,
.card-rating,
.card-price {
  padding: 0.5rem;
}

.card-title {
  font-size: var(--font-size-6);
}

.card-price {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-3);
}

.price-before {
  font-size: var(--font-size-6);
  text-decoration: line-through;
  opacity: 0.7;
  margin-right: 0.5rem;
}

.price-discount {
  font-size: var(--font-size-8);
  color: var(--danger-color);
}

.stars {
  display: flex;
}

.star {
  font-size: var(--font-size-6);
  margin-right: 0.2rem;
  color: var(--lynx-gray-color);
}

.star:last-child {
  margin-right: 0;
}

.star.star-filled {
  color: var(--orange-color);
}

.star.star-empty {
  color: var(--lynx-gray-color);
}

.card-footer button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 540px) {
  .product-details-section {
    flex-direction: column;
  }

  .product-details-section {
    text-align: center;
  }

  .size-select {
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    max-width: 100%;
  }
}
